/** {
	outline:red 1px solid;
}*/

/*body {
	margin: 0 auto;
	width: 500px;
	text-align: center;
}


.result-section {
	
}*/

/*  #chartContainer #doughnutContainer {
  	height: 300px;
  	width: 70%;
  	} */


/*.result-section {
	display: inline-block;
	margin:0 auto;

}

#chartContainer {
	float: left;
}

#doughnutContainer {
	float: right;
}*/

form { 
	margin-bottom: 50px;

 }